<!--
################################
# Final Exam
# ENGI 1006
# Name: Hannah Luo
# UNI: hrl2116
# File 1006.html contains information for the assignments page
################################
-->
<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Assignments</title>
    <head>
    <body>
    <p>Assignments homepage</p>
    <p>In Intro to Python, we had a lot of homework assignments that were 
    really interesting.</p>
    <p>HW 1: just basic python coding with lists</p>
    <p>HW 2: Projectile motion calculator and simulator two different ways</p>
    <p>HW 3: A percolation model with water</p>
    <p>HW 4: Simulating a course with OOP</p>
    <p>HW 5: Finishing up the machine learning model dealing with classifying 
    cancer tumors</p>
    <br>
    <p>My favorite assignment this semester was the machine learning model
    because it showed me that it was much less intimidating a subject than I 
    had originally thought, and now I can say I have at least a little bit of 
    experience in this subject.</p>
    </body>
</html>

