<!--
################################
# Final Exam
# ENGI 1006
# Name: Hannah Luo
# UNI: hrl2116
# File classes.html contains information for the classes page
################################
-->
<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Classes</title>
    <head>
    <body>
    <p>Classes homepage</p>
    <p>Classes taken this semester: Intro to Python, Introductory Physics 
    Electricity and Optics, Computational Linear Algebra, Data Structures, 
    Intermediate Macroeconomics, University Writing</p>
    <p>My favorite class so far has actually been Intro to Java Lab because I 
    am a TA for the class. Not only do I get paid, but I also get to work with 
    my friends and help introduce newcomers to programming the ropes of CS</p>
    </body>
</html>

